<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziling.www.mapper.ProjectPictureMapper" >
  <resultMap id="BaseResultMap" type="com.ziling.www.po.ProjectPicture" >
    <id column="picture_id" property="pictureId" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="main_picture" property="mainPicture" jdbcType="INTEGER" />
    <result column="md5" property="md5" jdbcType="VARCHAR" />
    <result column="uploader" property="uploader" jdbcType="VARCHAR" />
    <result column="extension" property="extension" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="picture_size" property="pictureSize" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="picture_status" property="pictureStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    picture_id, project_id, picture_url, main_picture, md5, uploader, extension, filename, 
    picture_size, created_time, picture_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ziling.www.po.ProjectPictureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from project_picture
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from project_picture
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ziling.www.po.ProjectPictureExample" >
    delete from project_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ziling.www.po.ProjectPicture" >
    insert into project_picture (picture_id, project_id, picture_url, 
      main_picture, md5, uploader, 
      extension, filename, picture_size, 
      created_time, picture_status)
    values (#{pictureId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR}, 
      #{mainPicture,jdbcType=INTEGER}, #{md5,jdbcType=VARCHAR}, #{uploader,jdbcType=VARCHAR}, 
      #{extension,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{pictureSize,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{pictureStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ziling.www.po.ProjectPicture" >
    insert into project_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pictureId != null" >
        picture_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="pictureUrl != null" >
        picture_url,
      </if>
      <if test="mainPicture != null" >
        main_picture,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="uploader != null" >
        uploader,
      </if>
      <if test="extension != null" >
        extension,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="pictureSize != null" >
        picture_size,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="pictureStatus != null" >
        picture_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pictureId != null" >
        #{pictureId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="mainPicture != null" >
        #{mainPicture,jdbcType=INTEGER},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="uploader != null" >
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="extension != null" >
        #{extension,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="pictureSize != null" >
        #{pictureSize,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pictureStatus != null" >
        #{pictureStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ziling.www.po.ProjectPictureExample" resultType="java.lang.Integer" >
    select count(*) from project_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update project_picture
    <set >
      <if test="record.pictureId != null" >
        picture_id = #{record.pictureId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureUrl != null" >
        picture_url = #{record.pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.mainPicture != null" >
        main_picture = #{record.mainPicture,jdbcType=INTEGER},
      </if>
      <if test="record.md5 != null" >
        md5 = #{record.md5,jdbcType=VARCHAR},
      </if>
      <if test="record.uploader != null" >
        uploader = #{record.uploader,jdbcType=VARCHAR},
      </if>
      <if test="record.extension != null" >
        extension = #{record.extension,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null" >
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureSize != null" >
        picture_size = #{record.pictureSize,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pictureStatus != null" >
        picture_status = #{record.pictureStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update project_picture
    set picture_id = #{record.pictureId,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      picture_url = #{record.pictureUrl,jdbcType=VARCHAR},
      main_picture = #{record.mainPicture,jdbcType=INTEGER},
      md5 = #{record.md5,jdbcType=VARCHAR},
      uploader = #{record.uploader,jdbcType=VARCHAR},
      extension = #{record.extension,jdbcType=VARCHAR},
      filename = #{record.filename,jdbcType=VARCHAR},
      picture_size = #{record.pictureSize,jdbcType=INTEGER},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      picture_status = #{record.pictureStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziling.www.po.ProjectPicture" >
    update project_picture
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="mainPicture != null" >
        main_picture = #{mainPicture,jdbcType=INTEGER},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="uploader != null" >
        uploader = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="extension != null" >
        extension = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="pictureSize != null" >
        picture_size = #{pictureSize,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pictureStatus != null" >
        picture_status = #{pictureStatus,jdbcType=INTEGER},
      </if>
    </set>
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziling.www.po.ProjectPicture" >
    update project_picture
    set project_id = #{projectId,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      main_picture = #{mainPicture,jdbcType=INTEGER},
      md5 = #{md5,jdbcType=VARCHAR},
      uploader = #{uploader,jdbcType=VARCHAR},
      extension = #{extension,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      picture_size = #{pictureSize,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      picture_status = #{pictureStatus,jdbcType=INTEGER}
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </update>
</mapper>