<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziling.www.mapper.UserExperienceMapper" >
  <resultMap id="BaseResultMap" type="com.ziling.www.po.UserExperience" >
    <id column="experience_id" property="experienceId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="finished_time" property="finishedTime" jdbcType="TIMESTAMP" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="quit_reason" property="quitReason" jdbcType="VARCHAR" />
    <result column="still_do" property="stillDo" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    experience_id, user_id, project_name, description, duty, start_time, finished_time, 
    link, quit_reason, still_do
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ziling.www.po.UserExperienceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_experience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_experience
    where experience_id = #{experienceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_experience
    where experience_id = #{experienceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ziling.www.po.UserExperienceExample" >
    delete from user_experience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ziling.www.po.UserExperience" >
    insert into user_experience (experience_id, user_id, project_name, 
      description, duty, start_time, 
      finished_time, link, quit_reason, 
      still_do)
    values (#{experienceId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{finishedTime,jdbcType=TIMESTAMP}, #{link,jdbcType=VARCHAR}, #{quitReason,jdbcType=VARCHAR}, 
      #{stillDo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ziling.www.po.UserExperience" >
    insert into user_experience
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="experienceId != null" >
        experience_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="duty != null" >
        duty,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="finishedTime != null" >
        finished_time,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="quitReason != null" >
        quit_reason,
      </if>
      <if test="stillDo != null" >
        still_do,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="experienceId != null" >
        #{experienceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishedTime != null" >
        #{finishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="quitReason != null" >
        #{quitReason,jdbcType=VARCHAR},
      </if>
      <if test="stillDo != null" >
        #{stillDo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ziling.www.po.UserExperienceExample" resultType="java.lang.Integer" >
    select count(*) from user_experience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_experience
    <set >
      <if test="record.experienceId != null" >
        experience_id = #{record.experienceId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.duty != null" >
        duty = #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishedTime != null" >
        finished_time = #{record.finishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.link != null" >
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.quitReason != null" >
        quit_reason = #{record.quitReason,jdbcType=VARCHAR},
      </if>
      <if test="record.stillDo != null" >
        still_do = #{record.stillDo,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_experience
    set experience_id = #{record.experienceId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      duty = #{record.duty,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      finished_time = #{record.finishedTime,jdbcType=TIMESTAMP},
      link = #{record.link,jdbcType=VARCHAR},
      quit_reason = #{record.quitReason,jdbcType=VARCHAR},
      still_do = #{record.stillDo,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziling.www.po.UserExperience" >
    update user_experience
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishedTime != null" >
        finished_time = #{finishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="quitReason != null" >
        quit_reason = #{quitReason,jdbcType=VARCHAR},
      </if>
      <if test="stillDo != null" >
        still_do = #{stillDo,jdbcType=INTEGER},
      </if>
    </set>
    where experience_id = #{experienceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziling.www.po.UserExperience" >
    update user_experience
    set user_id = #{userId,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      finished_time = #{finishedTime,jdbcType=TIMESTAMP},
      link = #{link,jdbcType=VARCHAR},
      quit_reason = #{quitReason,jdbcType=VARCHAR},
      still_do = #{stillDo,jdbcType=INTEGER}
    where experience_id = #{experienceId,jdbcType=VARCHAR}
  </update>
</mapper>