<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vr.mapper.SysActivityMapper" >
  <resultMap id="BaseResultMap" type="com.vr.po.SysActivity" >
    <id column="act_id" property="actId" jdbcType="VARCHAR" />
    <result column="pic_id" property="picId" jdbcType="VARCHAR" />
    <result column="act_type" property="actType" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="constant_day" property="constantDay" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="total_number" property="totalNumber" jdbcType="INTEGER" />
    <result column="is_finished" property="isFinished" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="bak_1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak_2" property="bak2" jdbcType="VARCHAR" />
    <result column="bak_3" property="bak3" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    act_id, pic_id, act_type, start_time, end_time, constant_day, money, total_number, 
    is_finished, status, bak_1, bak_2, bak_3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vr.po.SysActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_activity
    where act_id = #{actId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_activity
    where act_id = #{actId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.vr.po.SysActivityExample" >
    delete from sys_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vr.po.SysActivity" >
    insert into sys_activity (act_id, pic_id, act_type, 
      start_time, end_time, constant_day, 
      money, total_number, is_finished, 
      status, bak_1, bak_2, 
      bak_3)
    values (#{actId,jdbcType=VARCHAR}, #{picId,jdbcType=VARCHAR}, #{actType,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{constantDay,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL}, #{totalNumber,jdbcType=INTEGER}, #{isFinished,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, 
      #{bak3,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.vr.po.SysActivity" >
    insert into sys_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actId != null" >
        act_id,
      </if>
      <if test="picId != null" >
        pic_id,
      </if>
      <if test="actType != null" >
        act_type,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="constantDay != null" >
        constant_day,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="totalNumber != null" >
        total_number,
      </if>
      <if test="isFinished != null" >
        is_finished,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bak1 != null" >
        bak_1,
      </if>
      <if test="bak2 != null" >
        bak_2,
      </if>
      <if test="bak3 != null" >
        bak_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actId != null" >
        #{actId,jdbcType=VARCHAR},
      </if>
      <if test="picId != null" >
        #{picId,jdbcType=VARCHAR},
      </if>
      <if test="actType != null" >
        #{actType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="constantDay != null" >
        #{constantDay,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="totalNumber != null" >
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="isFinished != null" >
        #{isFinished,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vr.po.SysActivityExample" resultType="java.lang.Integer" >
    select count(*) from sys_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_activity
    <set >
      <if test="record.actId != null" >
        act_id = #{record.actId,jdbcType=VARCHAR},
      </if>
      <if test="record.picId != null" >
        pic_id = #{record.picId,jdbcType=VARCHAR},
      </if>
      <if test="record.actType != null" >
        act_type = #{record.actType,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.constantDay != null" >
        constant_day = #{record.constantDay,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=REAL},
      </if>
      <if test="record.totalNumber != null" >
        total_number = #{record.totalNumber,jdbcType=INTEGER},
      </if>
      <if test="record.isFinished != null" >
        is_finished = #{record.isFinished,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.bak1 != null" >
        bak_1 = #{record.bak1,jdbcType=VARCHAR},
      </if>
      <if test="record.bak2 != null" >
        bak_2 = #{record.bak2,jdbcType=VARCHAR},
      </if>
      <if test="record.bak3 != null" >
        bak_3 = #{record.bak3,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_activity
    set act_id = #{record.actId,jdbcType=VARCHAR},
      pic_id = #{record.picId,jdbcType=VARCHAR},
      act_type = #{record.actType,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      constant_day = #{record.constantDay,jdbcType=INTEGER},
      money = #{record.money,jdbcType=REAL},
      total_number = #{record.totalNumber,jdbcType=INTEGER},
      is_finished = #{record.isFinished,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      bak_1 = #{record.bak1,jdbcType=VARCHAR},
      bak_2 = #{record.bak2,jdbcType=VARCHAR},
      bak_3 = #{record.bak3,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vr.po.SysActivity" >
    update sys_activity
    <set >
      <if test="picId != null" >
        pic_id = #{picId,jdbcType=VARCHAR},
      </if>
      <if test="actType != null" >
        act_type = #{actType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="constantDay != null" >
        constant_day = #{constantDay,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="totalNumber != null" >
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="isFinished != null" >
        is_finished = #{isFinished,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="bak1 != null" >
        bak_1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        bak_2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        bak_3 = #{bak3,jdbcType=INTEGER},
      </if>
    </set>
    where act_id = #{actId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vr.po.SysActivity" >
    update sys_activity
    set pic_id = #{picId,jdbcType=VARCHAR},
      act_type = #{actType,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      constant_day = #{constantDay,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      total_number = #{totalNumber,jdbcType=INTEGER},
      is_finished = #{isFinished,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      bak_1 = #{bak1,jdbcType=VARCHAR},
      bak_2 = #{bak2,jdbcType=VARCHAR},
      bak_3 = #{bak3,jdbcType=INTEGER}
    where act_id = #{actId,jdbcType=VARCHAR}
  </update>
</mapper>